.dart_tool/
.dart_tool/*
build/
build/*
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock
ios/Pods/
ios/.symlinks/
macos/Pods/
macos/.symlinks/
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
*.iml
.idea/
.vscode/
*.log

# 生成文件：不提交到 git，本地通过 build_runner 生成
*.g.dart
*.freezed.dart
